$header-color : #ffff;
$font-color: #000000;
$blocks-color: #e2e7eb;
$line-color: #f28d4f;
$border-colors:#e8e8e8;
$button-colors: linear-gradient(360deg, rgb(242, 141, 79) 0%, rgb(250, 209, 74) 100%);